{# Main View Page #}
<!doctype html>
<html lang="it">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, shrink-to-fit=no, user-scalable=yes, initial-scale=1.0, maximum-scale=4.0, minimum-scale=0.5" />
<link
	type="image/png"
	rel="icon"
	href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/60/joypixels/291/rocket_1f680.png"
/>
<title>{{title}}</title>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous"
/>
{% block headOfPage %}
{% endblock headOfPage %}
</head>
<body>
{% block bodyOfPage %}
{% endblock bodyOfPage %}
</body>
</html>